body {
    background: linear-gradient(to left, #65b7ff, #ffffff);
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.faculty-card {
    background: #fff;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.faculty-card:hover {
    transform: scale(1.03);
}

table {
    width: 100%;
    border-collapse: collapse;
}




button {
    background: #65b7ff;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #4c9fe6;
}